.login {

  width: 560px;

  padding: 38px 40px;
  padding-bottom: 30px;

  background-color: white;

  font-size: 24px;
}

.login__inputs-wrap {
  margin-bottom: 30px;
}

.login__input, 
.login__submit {
  font-size: 24px;
  margin-bottom: 34px;
}

.login__input {
  color: #98a0b8;
  /* transition: 0.5s; */
}

.input.login__input--hidden {
  display: none;
  opacity: 0;
  margin-bottom: -70px;
}

.login__input:last-child {
  margin-bottom: 0;
}

.login__submit-wrap {
  text-align: center;
}

.login__submit {
  font-size: 23px;
  width: 80%;
}

.login__bottom {
  text-align: center;
  font-size: 12px;
}

.login__bottom-inner {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 16px;
  
  color: #606d92;
}

.login__bottom-inner > a:not(:last-child) {
  position: relative;
}

.login__bottom-inner > a {
  margin-right: 10px;
  text-decoration: none;
  cursor: pointer;
  line-height: 16px;

  color: #606d92;
}

.login__bottom-inner > a:hover {
  border-bottom: 1px dotted #606d92;
}

.login__bottom-inner > a:last-child {
  margin-right: 0;
  margin-left: 10px;
}

.login__bottom-inner > a:not(:last-child)::after {
  content: '';

  position: absolute;

  right: -10px;
  top: 0;

  width: 1px;
  height: calc(1em + 4px);

  background-color: #606d92;

}