/**
*  @author Aniki
*  @date 16.07.2018
*  @section manga-list
*/

.manga-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 50px 20px;
}

.manga-list__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-flex-shrink: 1;
      -ms-flex-negative: 1;
          flex-shrink: 1;
  width: -webkit-calc(4 * 300px + 4 * 30px);
  width: calc(4 * 300px + 4 * 30px);
  margin-right: -30px;
}

.card {
  display: inline-block;
  position: relative;
  width: 300px;
  height: 450px;
  margin-right: 30px;
  margin-bottom: 25px;
  background-image: url('https://img1.ak.crunchyroll.com/i/spire1/863ba423b729f58769a4004834e5554e1491069428_full.jpg');
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  font-size: 14px;
  color: white;
}

.card__content {
  top: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card__content::before {
  content: '';
  position: absolute;
  top: 0; 
  left: 0; 
  right: 0;
  bottom: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(31, 38, 55, 1)), to(transparent));
  background: -webkit-linear-gradient(bottom, rgba(31, 38, 55, 1), transparent);
  background: -o-linear-gradient(bottom, rgba(31, 38, 55, 1), transparent);
  background: linear-gradient(to top, rgba(31, 38, 55, 1), transparent);
  opacity: 0.7;
  -webkit-transition: opacity .3s;
  -o-transition: opacity .3s;
  transition: opacity .3s;
  z-index: 0;
  pointer-events: none;
}

.card__content:hover::before {
  opacity: 1;
}

.card__mini-info {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.card__mini-info--top {
  margin-top: 20px;
}

.card__mini-info--bottom {
  z-index: 1;
  margin-bottom: 20px;
}

.card__item {
  width: 90px;
  padding: 10px 0;
  text-align: center;
  background-color: rgb(140, 165, 190);;
}

.card__item-left {
  -webkit-border-radius: 0 20px 20px 0;
          border-radius: 0 20px 20px 0;
}


.card__item-right {
  -webkit-border-radius: 20px 0 0 20px;
          border-radius: 20px 0 0 20px;
}

.card__chapters {

}

.card__rating {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card__rating-score {
  position: relative;
  display: block;
  padding-left: 10px;
}

.card__rating-score:after {
  content: '';
  position: absolute;
  top: 46%;
  left: -9px;
  width: 14px;
  height: 14px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background-image: url('../img/star.svg'); 
}

.card__details {
  display: block;
  text-decoration: none;
  color: #fff;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.card:hover .card__details {
    
}

.card__views {
}

.card__description {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 15px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  z-index: 11;
}

.card__book-icon {
  position: absolute;
  top: 60px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  background-image: url('../img/reading-white.svg');
  opacity: 0;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.card:hover .card__book-icon {
  opacity: 1;
}

.card__icon {
  display: inline-block;
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  background-position: 50% 50%; 
  -webkit-background-size: cover; 
          background-size: cover;
}

.card__title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 8px;
}

.card__genres-etc > p{
  margin-bottom: 3px;
}

@media screen and (max-width: 1656px) {
  .manga-list__container {
      width: -webkit-calc(3 * 300px + 3 * 30px);
      width: calc(3 * 300px + 3 * 30px);
    }
  }