/**
*  @author Aniki
*  @date 16.07.2018
*  @section manga-list
*/

.manga-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    padding: 50px 20px;
}

.card {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    width: -webkit-calc(230px - 30px);
    width: calc(230px - 30px);
    height: 330px;
    margin-bottom: 25px;
    background-image: url('https://img1.ak.crunchyroll.com/i/spire1/863ba423b729f58769a4004834e5554e1491069428_full.jpg');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
            background-size: cover;
    font-size: 14px;
    color: white;
}

.card::after {
    content: '';
    position: absolute;
    top: 0; 
    left: 0; 
    right: 0;
    bottom: 0;
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.8)), to(transparent));
    background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.8), transparent);
    background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.8), transparent);
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
    opacity: 0.7;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    z-index: 10;
}

.card:hover::after {
    opacity: 1;
}

.card__mini-info {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
}

.card__mini-info--top {
    margin-top: 20px;
}

.card__mini-info--bottom {
    margin-bottom: 20px;
    z-index: 11;
}

.card__item {
    width: 90px;
    padding: 10px;
    background-color: #070f1a;
}

.card__item-left {
    -webkit-border-radius: 0 20px 20px 0;
            border-radius: 0 20px 20px 0;
}


.card__item-right {
    -webkit-border-radius: 20px 0 0 20px;
            border-radius: 20px 0 0 20px;
}

.card__chapters {

}

.card__rating {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
}

.card__rating > .card__icon {
    margin-right: 10px;
    width: 14px;
    height: 14px;
    background-image: url('../img/star.svg'); 
}

.card__details {
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.card:hover .card__details {
    
}

.card__views {
}

.card__description {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 15px;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    z-index: 11;
}

.card__book-icon {
    position: absolute;
    top: 30px;
    left: 50%;
    -webkit-transform: translateX(-50%) rotate(12deg);
        -ms-transform: translateX(-50%) rotate(12deg);
            transform: translateX(-50%) rotate(12deg);
    background-image: url('../img/book.svg');
    opacity: 0;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.card:hover .card__book-icon{
    opacity: 1;
}

.card__icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: 50% 50%; 
    -webkit-background-size: cover; 
            background-size: cover;
}

.card__title {
    font-size: 20px;
    margin-bottom: 8px;
}