/**
*  @author Surton
*  @date 16.07.2018
*  @section site-sidebar
*/

.site-sidebar {
  position: fixed;
  left: 0;
  top: 45px;
  height: -webkit-calc(100% - 45px);
  height: calc(100% - 45px);
  width: 250px;
  background-color: #1f2637;
}

.site-sidebar__item {
  position: relative;
  padding: 30px;
}

.site-sidebar__item.padding-off {
  padding: 0;
}

.site-sidebar__item:not(:last-child) {
  margin-bottom: 5px;
}

.site-sidebar__item:not(:last-child):after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 3px;
  border-top: 1px solid #141824;
  border-bottom: 1px solid #282f41;
}

.site-sidebar__item-continue {
  position: relative;
  display: block;
  padding: 15px 0;
  margin: 0 10px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
  text-align: center;
  color: #fff;
  background-color: #f2795a;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  -webkit-transition: background-color .2s;
  -o-transition: background-color .2s;
  transition: background-color .2s;
  overflow: hidden;
}

.site-sidebar__item-continue span {
  display: block;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  -o-transition: transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

.site-sidebar__item-continue:before {
  content: '';
  position: absolute;
  left: -22px;
  top: 50%;
  -webkit-transform: translateY(-52%) rotate(-90deg);
      -ms-transform: translateY(-52%) rotate(-90deg);
          transform: translateY(-52%) rotate(-90deg);
  width: 17px;
  height: 17px;
  background: url(../img/continue.svg) no-repeat center;
  -webkit-background-size: 100% 100%;
          background-size: 100%;
  -webkit-transition: left .2s;
  -o-transition: left .2s;
  transition: left .2s;
}

.site-sidebar__item-continue:hover:before {
  left: 17px;
}

.site-sidebar__item-continue:hover span {
  -webkit-transform: translateX(10px);
      -ms-transform: translateX(10px);
          transform: translateX(10px);
}

.site-sidebar__item-continue:hover {
  background-color: #ff8161;
}

.sidebar-nav,
.sidebar-sections {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sidebar-nav__item {
  position: relative;
  height: 50px;
  padding: 0 15px 0 55px;
  line-height: 50px;
  text-decoration: none;
  color: #78829d;
  -webkit-transition: background-color .2s;
  -o-transition: background-color .2s;
  transition: background-color .2s;
}

.sidebar-sections__item {
  display: block;
  position: relative;
  padding: 15px 0 15px 25px;
}

.sidebar-sections__item a {
  display: block;
  text-decoration: none;
  color: #78829d;
  -webkit-transition: color .2s;
  -o-transition: color .2s;
  transition: color .2s;
}

.sidebar-sections__item a:hover {
  color: #a9b2c8;
}

.sidebar-nav__item.active {
  display: block;
  background-color: #15a4fa;
  color: #fff;
  cursor: default;
}

.sidebar-nav__item:not(.active):hover {
  background-color: #282f41;
}

.sidebar-nav__item:before {
  content: '';
  position: absolute;
  left: 25px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 15px;
  height: 15px;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: 100% 100%;
          background-size: 100%;
}

.sidebar-sections__item-circle {
  position: absolute;
  left: -2px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 8px;
  height: 8px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}

.sidebar-nav__item.reading:before {
  background-image: url(../img/reading.svg);
}

.sidebar-nav__item.browse:before {
  background-image: url(../img/browse.svg);
}

.sidebar-nav__item.favorite:before {
  background-image: url(../img/favorite.svg);
}

.sidebar-nav__item.news:before {
  background-image: url(../img/news.svg);
}

.sidebar-nav__item.history:before {
  background-image: url(../img/history.svg);
}

.sidebar-nav__item.reading.active:before {
  background-image: url(../img/reading-white.svg);
}

.sidebar-nav__item.browse.active:before {
  background-image: url(../img/browse-white.svg);
}

.sidebar-nav__item.favorite.active:before {
  background-image: url(../img/favorite-white.svg);
}

.sidebar-nav__item.news.active:before {
  background-image: url(../img/news-white.svg);
}

.sidebar-nav__item.history.active:before {
  background-image: url(../img/history-white.svg);
}